<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<span id="serverPort"style="font-size: 8px;height: 18px;line-height: 1;"></span><span id="userId"style="font-size: 8px;height: 18px;line-height: 1;"></span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span id="state" style=" background: rgb(238, 255, 255);color:green;font-size: 8px;height: 18px;line-height: 1;">online</span><br/>
<input style="font-size: 8px;width:100px; height:12px" ; id="text" type="text"/>&nbsp;&nbsp;&nbsp;<button style="font-size: 8px;width:40px; height:18px" onclick="send()">send
</button>&nbsp;&nbsp;&nbsp;<button id="status" style="font-size: 8px;width:40px; height:18px" onclick="upOrDownWebSocket()"></button>
<div  id="loop">
    <marquee loop=2 class="loop"><font size=+3 color=red id="message" style="font-size: 8px;height: 18px;line-height: 1;"></font></marquee>
</div>

</body>
<script type="text/javascript">
    var websocket = null;
    var userId = "test" + uuid2(6);
    document.getElementById("userId").innerText = userId;
    //判断当前浏览器是否支持WebSocket
    if ('WebSocket' in window) {
        websocket = new WebSocket("ws://localhost:9888/ufire-websocket/socket/" + userId);
    } else {
        alert('Not support websocket')
    }

    //连接发生错误的回调方法
    websocket.onerror = function () {

        setMessageInnerHTML("error");
    };

    //连接成功建立的回调方法
    websocket.onopen = function (event) {
        var status = document.getElementById("status");
        status.innerText = "down"
    }

    //接收到消息的回调方法
    websocket.onmessage = function (event) {
        if (event.data.indexOf("『") != -1) {
            var serverPort = document.getElementById("serverPort");
            serverPort.innerText = event.data;
        } else {
            setMessageInnerHTML(event.data);
        }
    }

    //连接关闭的回调方法
    websocket.onclose = function () {
        setMessageInnerHTML("close");
        var status = document.getElementById("status");
        status.innerText = "up"
    }

    //监听窗口关闭事件，当窗口关闭时，主动去关闭websocket连接，防止连接还没断开就关闭窗口，server端会抛异常。
    window.onbeforeunload = function () {
        websocket.close();
    }

    //将消息显示在网页上
    function setMessageInnerHTML(innerHTML) {
        var  messageDiv=document.getElementById("loop")
        var message = document.getElementsByClassName("loop");
        var node = message.item(0).cloneNode(true);
        message.item(0).remove();
        messageDiv.appendChild(node);
        document.getElementById('message').innerHTML = innerHTML;
        //
    }

    //关闭连接
    function upOrDownWebSocket() {
        var state = document.getElementById("state");
        var status = document.getElementById("status");
        if (status.innerText == "down") {
            websocket.close();
            status.innerText = "up"
            state.innerText = "offline"
            state.style.color = "red"
        } else {
            if (status.innerText == "up") {
                if ('WebSocket' in window) {
                    var userId = document.getElementById("userId").innerText;
                    websocket = new WebSocket("ws://localhost:8080/socket/" + userId);
                } else {
                    alert('Not support websocket')
                }
                status.innerText = "down"
            }
            var state = document.getElementById("state");
            state.innerText = "online"
            state.style.color = "green"
        }
    }

    //发送消息
    function send() {
        var message = document.getElementById('text').value;
        websocket.send(message);
    }

    function closeWebSocket() {

    }

    function uuid2(len, radix) {
        var chars = '0123456789ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz'.split('');
        var uuid = [],
            i;
        radix = radix || chars.length;

        if (len) {
            // Compact form
            for (i = 0; i < len; i++) uuid[i] = chars[0 | Math.random() * radix];
        } else {
            // rfc4122, version 4 form
            var r;

            // rfc4122 requires these characters
            uuid[8] = uuid[13] = uuid[18] = uuid[23] = '-';
            uuid[14] = '4';

            // Fill in random data.  At i==19 set the high bits of clock sequence as
            // per rfc4122, sec. 4.1.5
            for (i = 0; i < 36; i++) {
                if (!uuid[i]) {
                    r = 0 | Math.random() * 16;
                    uuid[i] = chars[(i == 19) ? (r & 0x3) | 0x8 : r];
                }
            }
        }

        return uuid.join('');
    }

    function uuid() {
        var s = [];
        var hexDigits = "0123456789abcdef";
        for (var i = 0; i < 36; i++) {
            s[i] = hexDigits.substr(Math.floor(Math.random() * 0x10), 1);
        }
        s[14] = "4"; // bits 12-15 of the time_hi_and_version field to 0010
        s[19] = hexDigits.substr((s[19] & 0x3) | 0x8, 1); // bits 6-7 of the clock_seq_hi_and_reserved to 01
        s[8] = s[13] = s[18] = s[23] = "-";

        var uuid = s.join("");
        return uuid;
    }
</script>
</html>