<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">
<head>
    <meta charset="UTF-8">
    <title>websocket客户端</title>
</head>
<script src="http://libs.baidu.com/jquery/2.1.4/jquery.min.js"></script>
<body>
<span id="serverPort" style="font-size: 8px;height: 18px;line-height: 1;"></span><span id="userId"
                                                                                       style="font-size: 8px;height: 18px;line-height: 1;"></span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span
        id="state" style=" background: rgb(238, 255, 255);font-size: 8px;height: 18px;line-height: 1;"></span><br/>
<input style="font-size: 8px;width:100px; height:12px" ; id="text" type="text"/>&nbsp;&nbsp;&nbsp;<button
        style="font-size: 8px;width:40px; height:18px" onclick="send()">send
</button>&nbsp;&nbsp;&nbsp;<button id="status" style="font-size: 8px;width:40px; height:18px"
                                   onclick="upOrDownWebSocket()"></button>
<div id="loop">
    <marquee loop=2 class="loop"><font size=+3 id="message"
                                       style="font-size: 8px;height: 18px;line-height: 1;"></font></marquee>
</div>
<p style="display: none">
    <input id="userIdd" th:value="${userId}"/>
    <input id="wssUrl" th:value="${wssUrl}"/>
    <input id="messageUrl" th:value="${messageUrl}"/>
</p>
</body>
<script type="text/javascript">
</script>
<script>
    var wss = null;
    var userId = null;
    var lockReconnect = false; //避免重复连接
    $(function () {
        debugger
        userId = $('#userIdd').val();
        document.getElementById('userId').innerText = userId
        connect() // 初始化连接wss
    });

    function connect() {
        //判断当前浏览器是否支持WebSocket
        if ('WebSocket' in window) {
            wss = new WebSocket($('#wssUrl').val() + userId);
        } else {
            alert('Not support websocket')
        }

        wss.onclose = function () {
            setMessageInnerHTML("已关闭");
            setStatus()
            reconnect()
        }

        //连接发生错误的回调方法
        wss.onerror = function () {
            setMessageInnerHTML("发送错误");
        };

        //连接成功建立的回调方法
        wss.onopen = function (event) {

        }


        //接收到消息的回调方法
        wss.onmessage = function (event) {
            var message = $.parseJSON(event.data);
            if (message.type == 1) {
                // if (typeof (window.parent.colorMap.get(message.ip)) == "undefined") {
                //     window.parent.colorMap.set(message.ip, window.parent.colors[window.parent.colorMap.size])
                // }
                console.info("-------------------------成功建立连接")
                document.getElementById('serverPort').innerText = message.ip

                var ip = message.ip.replace("『", '').replace("』", '');
                var id = ip.substring(0, ip.indexOf(":"));
                var td = window.parent.document.getElementById(id.trim().toString())
                td.innerText = message.userCount
                //document.getElementById('serverPort').style.color = window.parent.colorMap.get(message.ip);
                setStatus()
                setMessageInnerHTML(message.content);
            }
            if (message.type == 2) {
                console.info("-------------------------服务通知关闭")
                wss.close();
            }
            if (message.type == 3) {
                console.info("-------------------------通信")
                setMessageInnerHTML(message.content);
            }
            if (message.type == 4) {
                document.getElementById('serverPort').innerText = message.ip
                var ip = message.ip.replace("『", '').replace("』", '');
                var id = ip.substring(0, ip.indexOf(":"));
                var td = window.parent.document.getElementById(id.trim().toString())
                td.innerText = message.userCount
                console.info("-------------------------定时统计用户数量")
            }
        }
    }

    //监听窗口关闭事件，当窗口关闭时，主动去关闭websocket连接，防止连接还没断开就关闭窗口，server端会抛异常。
    window.onbeforeunload = function () {
        wss.close();
    }

    // 发送消息 统一从网关进行转发
    function send() {
        debugger
        var message = document.getElementById('text').value.toString();
        var toUser = message.substring(1, getIndex(message))
        var message = message.substring(getIndex(message) + 1, message.toString().length)
        var url = $('#messageUrl').val() + toUser + "/" + message
        $.ajax({url: url, async: false});
    }

    //主动断掉close连接后进行重新连接 5s后重新连接
    function reconnect() {
        if (lockReconnect) return;
        lockReconnect = true;
        //没连接上会一直重连，设置延迟避免请求过多
        setMessageInnerHTML("将在5s后重新连接");
        setTimeout(function () {
            connect();
            lockReconnect = false;
        }, 5000);
    }

    //将消息显示在网页上
    function setMessageInnerHTML(innerHTML) {
        var messageDiv = document.getElementById("loop")
        var message = document.getElementsByClassName("loop");
        var node = message.item(0).cloneNode(true);
        message.item(0).remove();
        messageDiv.appendChild(node);
        document.getElementById('message').innerHTML = innerHTML;
    }

    function upOrDownWebSocket() {
        var status = document.getElementById("status").innerText;
        if (status == "down") {
            down()
        }
        if (status == "up") {
            up()
        }
    }


    // 手动 up 连接方法
    function up() {
        connect()
    }

    // 手动 down 关闭连接方法
    function down() {
        wss.close();
    }

    // 设置按钮状态
    function setStatus() {
        if (wss.readyState == 1) {
            document.getElementById('status').innerText = "down"
            document.getElementById('state').innerText = "online"
            document.getElementById('state').style.color = "green"
            document.getElementById('message').style.color = "green"

        }
        if (wss.readyState == 3) {
            document.getElementById('status').innerText = "up"
            document.getElementById('state').innerText = "offline"
            document.getElementById('state').style.color = "red"
            document.getElementById('message').style.color = "red"
        }
    }

    function getIndex(str) {
        for (var i = 0; i < str.length; i++) {
            if (str[i] == ':') {
                return i
            }
        }
    }
</script>
</html>