<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">
<head>
    <meta charset="UTF-8">
    <title>websocket客户端</title>
</head>
<script src="http://libs.baidu.com/jquery/2.1.4/jquery.min.js"></script>
<body>
<span id="serverPort" style="font-size: 8px;height: 18px;line-height: 1;"></span><span id="userId"
                                                                                       style="font-size: 8px;height: 18px;line-height: 1;"></span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span
        id="state" style=" background: rgb(238, 255, 255);font-size: 8px;height: 18px;line-height: 1;"></span><br/>
<input style="font-size: 8px;width:100px; height:12px" ; id="text" type="text"/>&nbsp;&nbsp;&nbsp;<button
        style="font-size: 8px;width:40px; height:18px" onclick="send()">send
</button>&nbsp;&nbsp;&nbsp;<button id="status" style="font-size: 8px;width:40px; height:18px"
                                   onclick="upOrDownWebSocket()"></button>
<div id="loop">
    <marquee loop=2 class="loop"><font size=+3 color=red id="message"
                                       style="font-size: 8px;height: 18px;line-height: 1;"></font></marquee>
</div>
<p style="display: none">
    <input id="userIdd" th:value="${userId}"/>
    <input id="wssUrl" th:value="${wssUrl}"/>
</p>
</body>
<script type="text/javascript">
</script>
<script>
    var wss = null;
    var userId = null;
    $(function () {
        userId = $('#userIdd').val();
        $('#userId').innerHTML = userId;
        connect() // 初始化连接wss
    });

    function connect() {
        //判断当前浏览器是否支持WebSocket
        if ('WebSocket' in window) {
            wss = new WebSocket($('#wssUrl').val() + userId);
        } else {
            alert('Not support websocket')
        }

        //连接发生错误的回调方法
        wss.onerror = function () {
            setMessageInnerHTML("error");
        };

        //连接成功建立的回调方法
        wss.onopen = function (event) {

        }
        wss.onclose = function () {
        }

        //接收到消息的回调方法
        wss.onmessage = function (event) {

            var message = $.parseJSON(event.data);
            if (message.type == 1) {
                document.getElementById('serverPort').innerText = message.ip
                setStats()
            }
            if (message.type == 2) {
                console.info("-------------------------通知关闭")
            }
            if (message.type == 3) {
                console.info("-------------------------通信")
            }
            // // 服务端告知客户端主动断掉wss连接
            // if (event.data == "close") {
            //     websocket.close();
            // }
            // // IP赋值
            // if (event.data.indexOf("『") != -1) {
            //     var serverPort = document.getElementById("serverPort");
            //     var userId = document.getElementById("userId").innerHTML;
            //     var parentListItem = window.parent.document.getElementById(userId)
            //     var port = event.data
            //     parentListItem.setAttribute("hostport", port.replace("『", "").replace("』", ""))
            //     serverPort.innerText = event.data;
            // } else {
            //     setMessageInnerHTML(event.data);
            // }

        }


    }

    //监听窗口关闭事件，当窗口关闭时，主动去关闭websocket连接，防止连接还没断开就关闭窗口，server端会抛异常。
    window.onbeforeunload = function () {
        wss.close();
    }

    // 发送消息 统一从网关进行转发
    function send() {
        var message = document.getElementById('text').value.toString();
        var toUser = message.substring(1, getIndex(message))
        var message = message.substring(getIndex(message) + 1, message.toString().length)
        xmlhttp.open("GET", "http://localhost:9888/ufire-websocket/websocket/to/" + toUser + "/" + message, true);
        xmlhttp.send();
    }

    //主动断掉close连接后进行重新连接
    function reconnect() {

        setTimeout(function () {
            websocket = new WebSocket("ws://localhost:9888/ufire-websocket/socket/" + userId);
            lockReconnect = false;
        }, 5000);
    }

    //将消息显示在网页上
    function setMessageInnerHTML(innerHTML) {
        var messageDiv = document.getElementById("loop")
        var message = document.getElementsByClassName("loop");
        var node = message.item(0).cloneNode(true);
        message.item(0).remove();
        messageDiv.appendChild(node);
        document.getElementById('message').innerHTML = innerHTML;
    }

    function upOrDownWebSocket() {
        debugger
        var status = document.getElementById("status").innerText;
        if (status == "down") {
            down()
        }
        if (status == "up") {
            up()
        }
    }


    // 手动 up 连接方法
    function up() {
        connect()
        setStats()
    }

    // 手动 down 关闭连接方法
    function down() {
        wss.close();
        setStats()
    }

    // 设置按钮状态
    function setStats() {
        if (wss.readyState == 1) {
            document.getElementById('status').innerText = "down"
            document.getElementById('state').innerText = "online"
            document.getElementById('state').style.color = "green"

        }
        if (wss.readyState == 3) {
            document.getElementById('status').innerText = "up"
            document.getElementById('state').innerText = "offline"
            document.getElementById('state').style.color = "red"
        }
    }

    function getIndex(str) {
        for (var i = 0; i < str.length; i++) {
            if (str[i] == ':') {
                return i
            }
        }
    }
</script>
</html>