server:
  port: 8099
spring:
  application:
    name: ufire-websocket
  cloud:
    nacos:
      discovery:
        server-addr: 127.0.0.1:8848
  datasource:
    url: jdbc:mysql://8.136.110.11:3306/rabbitmq?useUnicode=true&characterEncoding=utf-8
    username: root
    password: 123456
    driverClassName: com.mysql.jdbc.Driver
  rabbitmq:
    addresses: 8.136.110.11:5672
    username: guest
    password: guest
    virtual-host: /
  redis:
    host: 8.136.110.11
    port: 6380
    password: 123456
mybatis:
  mapper-locations: classpathï¼šcom.springcloud.ufire.core.mapper/*.xml
